/* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

html{
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    overflow-x: hidden;
}
  
body {
background: #f1f1f1;
}

body, button, input, textarea {
color: #333;
font: 1rem 400 'Roboto';
}

button:hover {
cursor: pointer;
}

a {
text-decoration: none;
}

/* Header */
.content{
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f1e1f;
    position: fixed;
    padding-left: 3rem;
}

.logo{
    width: 70px;
    height: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.logo img{
    width: 100%;
    height: 100%;
}

.logo h3{
    color: #fff;
    font-size: 1.6rem;
}

.content .list-menu{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .list-menu li a{
    padding: 3rem 1rem 2rem 1rem;
    color: white;
    font-size: 1.8rem;
    font-weight: 500;
    transition: all .2s ease-in;
}

.content .list-menu li a:hover{
    background-color: #3333;
    border-bottom: 4px solid #ffc506;
    color: #ffc506;
}